::-webkit-scrollbar {
  width: 0;
}

.container {
  @apply max-w-[1365px] mx-auto my-0 px-[5.3125rem] py-0;
}
.section {
  @apply overflow-hidden mt-20;
}
.swm {
  @apply mt-10;
}
@media (min-width: 793px) {
  .section {
    @apply flex;
  }
  .swm {
    @apply px-[5.3125rem] py-0;
  }
}
.section__content {
  @apply flex-[0_0_100%];
}
.section__container {
  @apply max-w-[1365px] flex items-center mx-auto my-0 px-[5.3125rem] py-0;
}
.section__body {
  @apply z-[1];
}

@media (min-width: 793px) {
  .section__body {
    @apply w-6/12 pl-0 pr-[30px] py-[50px];
  }
  .pl {
    @apply pl-[30px];
  }
  .about__container {
    @apply p-0;
  }
  .ed-in__row {
    @apply flex;
  }
}

.section__description {
  @apply text-[#696969] pb-[38px];
}
.section__text {
  @apply relative text-[#696969] mt-[5.75rem] mb-[3.75rem] before:content-[""] before:absolute before:w-[25px] before:h-[3px] before:bg-[#7e3af2] before:inline-block before:mt-[-1.625rem] before:mb-0 before:mx-0;
}
.section__text p strong {
  @apply text-[black];
}

@media (max-width: 793px) {
  .section__text {
    @apply mt-[38px] mb-[27px];
  }
  .section__container {
    @apply mx-auto my-0 px-[15px] py-0;
  }
}
.section__about__title {
  @apply font-semibold;
}
.section__about__text {
  @apply text-zinc-800;
}
.section__image {
  @apply max-w-full relative;
}
.section__image img {
  @apply relative z-20;
}
.tr-bg-img {
  @apply z-10 absolute w-full h-full pl-[120px] pr-0 pt-[90px] pb-0 left-0 top-0;
}
.tr-bg-img img {
  @apply h-full w-full object-fill;
}

@media (min-width: 793px) {
  .section__image {
    @apply flex-[0_0_50%] -translate-x-full translate-y-0 relative pt-0 pb-[44%] px-0;
  }
  .round {
    @apply flex-[0_0_50%] translate-x-0 translate-y-0 relative pt-0 pb-[20%] px-0;
  }
  .round img {
    @apply w-full h-full;
  }
  .section__image img {
    @apply absolute w-full h-full left-0 top-0;
  }
}

/* --------------- */
.section__interests {
  @apply flex mt-11;
}
.circle {
  @apply flex w-[60px] h-[60px] justify-center items-center mr-4 rounded-[50%] border-2 border-solid border-[#7e3af2];
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -ms-align-items: center;
}
.circle svg path {
  @apply fill-[#7e3af2] stroke-[#7e3af2];
}


.section__education {
  display: inline-block;
  margin-top: 44px;
  border-bottom: 1px solid #e5e7eb;
}

.section__education:last-of-type {
  border-bottom: none;
  margin-top: 24px;
}
.section__education:nth-child(3) {
  margin-top: 24px;
}
.ed__row {
  display: flex;
}
.education__year {
  margin-right: 16px;
}
.educaion__row {
  margin-bottom: 32px;
}
